# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!dll_store/*.dll


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 3rd
3rd
3rd.7z

# Debug和Release文件夹
build-NDI_CAPI-Desktop_Qt_5_10_1_MSVC2013_64bit-Debug
build-NDI_CAPI-Desktop_Qt_5_10_1_MSVC2013_64bit-Release
build-readSharedMemory-Desktop_Qt_5_10_1_MSVC2013_64bit-Debug
build-readSharedMemory-Desktop_Qt_5_10_1_MSVC2013_64bit-Release
NDI_CAPI/debug
NDI_CAPI/release
readSharedMemory/debug
readSharedMemory/release

# 执行文件
*.pro.user
*.sdf
*.v12.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
